<!DOCTYPE html>
<html>

<head>
  <title>My favourite books</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <h1>MY FAVOURITE BOOKS</h1>
  
  <div class="books-list">
    <% books.forEach(book => { %>
      <div class="book">
        <% if (book.cover_url) { %>
          <img src="<%= book.cover_url %>" alt="<%= book.title %>">
        <% } else { %>
          <img src="/assets/no-cover.jpeg" alt="No cover">
        <% } %>
        <h2><%= book.title %></h2>
        <p><strong>Author:</strong> <%= book.author %></p>
        <p><strong>Rate:</strong> <%= book.rating %>/10</p>
        <p><strong>Review:</strong> <%= book.review %></p>
        
        <form action="/books/<%= book.id %>/edit" method="GET">
          <button type="submit" id="form-button">Edit review</button>
        </form>
        <form action="/books/<%= book.id %>/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete the book?');">
          <button type="submit" id="delete-button">Delete book</button>
        </form>
      </div>
    <% }); %>
  </div>
  <div class="btn-container">
    <a href="/books/add" class="btn">Add new book</a>
  </div>
</body>
</html>
